[submodule "test/spec"]
	path = test/spec
	url = git@github.com:hashware/testsuite-zh.git
    branch = eos-zh
[submodule "test/waterfall"]
	path = test/waterfall
	url = git@github.com:hashware/waterfall-zh.git
    branch = eos-zh

[submodule "test/emscripten"]
	path = test/emscripten
	url = git@github.com:hashware/emscripten-zh.git
    branch = eos-zh
